@font-face {
  font-family: "Montserrat-Regular";
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("./assets/fonts/Montserrat-Bold.ttf");
}

html {
  font-family: Montserrat-Regular;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 20px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.font-bold {
  font-family: Montserrat-Bold;
}

.font-regular {
  font-family: Montserrat-Regular;
}

/* input  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  outline: none;
}
