@font-face {
  font-family: "Montserrat-Regular";
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("./assets/fonts/Montserrat-Bold.ttf");
}

html {
  font-family: Montserrat-Regular;
}

.font-bold {
  font-family: Montserrat-Bold;
}

.font-regular {
  font-family: Montserrat-Regular;
}
