@font-face {
  font-family: 'Montserrat-Regular';
  src: url('./fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('./fonts/Montserrat-Bold.ttf');
}

html{
  font-family: Montserrat-Regular;
}

.display-flex{
  display: flex;
}

.align-items-center{
  align-items: center;
}

.justify-content-space-between{
  justify-content: space-between;
}

/* buttons */
.button{
  font-family: Montserrat-Bold;
  border-radius: 50%;
  height: 40px;
  font-size: 13px;
  padding: 11px 20px;
  display: inline-flex;
  align-items: center ;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  border: none;
}